body {
	background-image:url('http://i50.tinypic.com/ngv7mp.jpg');
	background-repeat:no-repeat;
	background-position:left top;
	background-size: 100%;
	margin-left:20px;
	float: left;
	}
	
.left {
	float: left;
}
#container {
	float: left;
	position: fixed;
	width: 50%;
}

#headercontainer{
	float: left;
	margin: left;
	width: 100px;
	height: 20px;
}
#name_img {
	size: inherit;
	float: left;
	height: 50px;
}

#linkedin {
	position:relative;
	-webkit-transform: rotate(-14deg);
	-moz-transform: rotate(-14deg);
	left: 360 px;
	top: 70px;
	width: 153px;
	height: 137px;
}

#contact {
	position: fixed;
	-webkit-transform: rotate(40deg);
	-moz-transform: rotate(40deg);
	left: 295px;
	top: 295px;
	width: 153px;
	height: 137px;
}

#github {
	position: fixed;
	-webkit-transform: rotate(8deg);
	-moz-transform: rotate(8deg);
	left: 360px;
	top: 205px;
	width: 153px;
	height: 137px;
}

#tumblr {
	position: fixed;
	-webkit-transform: rotate(65deg);
	-moz-transform: rotate(65deg);
	left: 219px;
	top: 342px;
	width: 153px;
	height: 137px;
}

#resume {
	position: fixed;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	left: 110px;
	top: 357px;
	width: 153px;
	height: 137px;
}

.name {
	position: relative;
	height: 100px;
	float: left;
}
