body {
	background-image:url('http://i50.tinypic.com/ngv7mp.jpg');
	background-repeat:no-repeat;
	background-position:left top;
	background-size: 100%;
	margin-left:20px;
	float: left;
	}
	
.left {
	float: left;
}
#container {
	float: left;
	position: fixed;
	width: 50%;
}

#headercontainer{
	float: left;
	margin: left;
	width: 100px;
	height: 20px;
}
#name_img {
	size: inherit;
	float: left;
	height: 50px;
}

#linkedin {
	position:fixed;
	-webkit-transform: rotate(-15deg);
	-moz-transform: rotate(-14deg);
	left: 379 px;
	top: 75px;
	width: 153px;
	height: 137px;
}

#github {
	position: fixed;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	left: 368px;
	top: 165px;
	width: 153px;
	height: 137px;
}

#contact {
	position: fixed;
	-webkit-transform: rotate(15deg);
	-moz-transform: rotate(40deg);
	left: 348px;
	top: 240px;
	width: 153px;
	height: 137px;
}


#tumblr {
	position: fixed;
	-webkit-transform: rotate(35deg);
	-moz-transform: rotate(65deg);
	left: 300px;
	top: 290px;
	width: 153px;
	height: 137px;
}

#resume {
	position: fixed;
	-webkit-transform: rotate(65deg);
	-moz-transform: rotate(90deg);
	left: 220px;
	top: 345px;
	width: 153px;
	height: 137px;
}

.name {
	position: relative;
	height: 100px;
	float: left;
}
